@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
  border-radius: 3px;
  overflow: hidden; }

.header {
  height: 7rem;
  background-color: white;
  border-bottom: solid 1px var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: white;
  flex: 1; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: 1.3rem;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: width 0.2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    display: flex; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2.25rem;
    width: 2.25rem; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    transition: background-color .08s; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-container {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: red;
    color: white; }
  .user-nav__account {
    display: flex;
    align-items: center; }
  .user-nav__avatar {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    object-fit: covers; }
  .user-nav__username {
    font-size: 1.4rem;
    color: var(--color-grey-dark-1);
    margin-left: 0.7rem; }

.sidebar {
  font-size: 1.5rem;
  list-style: none;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__nav-item {
    position: relative; }
    .sidebar__nav-item--link:link, .sidebar__nav-item--link:visited {
      text-decoration: none;
      color: var(--color-grey-light-1);
      display: block;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 10;
      position: relative; }
    .sidebar__nav-item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.1s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
      transform-origin: bottom; }
    .sidebar__nav-item:hover::before, .sidebar__nav-item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar__nav-item:active::before {
      background-color: var(--color-primary-light); }
    .sidebar__nav-item:not(:last-child) {
      margin-bottom: .5rem; }
  .sidebar__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }
  .sidebar .legal {
    font-size: 1.2rem;
    padding: 2.5rem;
    text-align: center;
    color: var(--color-grey-dark-3);
    align-self: flex-end; }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-grey-light-2); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
    .overview__location > svg {
      margin-right: 0.5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem; }
    .overview__rating-average {
      font-size: 2.25rem; }
    .overview__rating-count {
      font-size: 0.8rem;
      text-transform: uppercase; }

.details {
  display: flex;
  padding: 4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: solid 1px var(--color-grey-light-2); }
  .details__summary {
    flex: 0 0 60%;
    margin-right: 4rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    padding: 3rem;
    font-size: 1.4rem;
    border-radius: 3px; }
    .details__summary > .list {
      border-top: solid 1px var(--color-grey-light-2);
      border-bottom: solid 1px var(--color-grey-light-2);
      margin: 2rem 0;
      padding-top: 2rem;
      padding-bottom: 1.3rem;
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .details__summary > .list > .list-item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
        display: flex;
        align-items: center; }
        .details__summary > .list > .list-item::before {
          content: "";
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
          margin-right: .5rem;
          background-color: var(--color-primary);
          -webkit-mask-image: url("../img/chevron-thin-right.svg");
          -webkit-mask-size: cover; }
    .details__summary-recommendations {
      display: flex;
      font-size: 1.3rem;
      color: var(--color-grey-dark-3); }
      .details__summary-recommendations-people {
        display: flex; }
        .details__summary-recommendations-people > .avatar {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          object-fit: cover;
          border: solid 2px white; }
          .details__summary-recommendations-people > .avatar:not(:last-child) {
            margin-right: -1rem; }
  .details__reviews {
    flex: 1;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    padding: 3rem;
    border-radius: 3px; }
