$box-shadow-light: 0 2rem 6rem rgba(0, 0, 0, .3);
$box-shadow-lighter: 0 1rem 2rem rgba(176, 176, 176, 0.3);
$border-grey: solid 1px var(--color-grey-light-2);
$breakpoint-large: 75em;
$breakpoint-medium: 68.75em;
$breakpoint-small: 56.25em;
$breakpoint-phone: 37.5em;